---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} 小虾 🦐 All rights reserved.
	<div class="busuanzi">
		本站访问量 <span id="busuanzi_value_site_pv"></span> 次 &nbsp;|&nbsp; 访客 <span id="busuanzi_value_site_uv"></span> 人
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.busuanzi {
		margin-top: 0.5em;
		font-size: 0.85rem;
	}
</style>
